[submodule ".registry"]
	path = .registry
	url = https://github.com/mqfarooqi1/mqfarooqi1.r-universe.dev
	branch = HEAD
[submodule "BreedingExperiment"]
	path = BreedingExperiment
	url = https://github.com/mqfarooqi1/BreedingExperiment
[submodule "GSbench"]
	path = GSbench
	url = https://github.com/mqfarooqi1/GSbench
[submodule "dataProfilerR"]
	path = dataProfilerR
	url = https://github.com/mqfarooqi1/dataProfilerR
[submodule "orbis"]
	path = orbis
	url = https://github.com/mqfarooqi1/orbis
