[submodule ".registry"]
	path = .registry
	url = https://github.com/mqfarooqi1/mqfarooqi1.r-universe.dev
	branch = HEAD
[submodule "GSbench"]
	path = GSbench
	url = https://github.com/mqfarooqi1/GSbench
